/* Sticky nav */
/*.is-sticky .logo {
	padding: 0;
}
.is-sticky .logo img {
	max-height: 50%;
	width:100%;
	padding-bottom:20px;
}
.is-sticky .navbar-nav > li > a {
	padding-bottom: 15px;
	padding-top: 15px;
}*/
